@tailwind base;
@tailwind components;
@tailwind utilities;

/* font global app */
@font-face {
  font-family: "MyFontRegular";
  src: url("/fonts/GreaterTheory.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* font logo  */
@font-face {
  font-family: "myLogo";
  src: url("/fonts/Yamaka Personal Used.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: #b51601;
}
body {
  background-color: #fefaf6;
  color: #0b0b0b;
  font-family: "MyFontRegular", sans-serif;
  transition: background-color 0.2s ease-in-out;
}
.dark {
  background-color: #0b0b0b;
  color: #f6f6f6;
}
